<div class="modal fade show" id="modalG" #modalG tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Cerebro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alertaGuardar"></div>
                <div class="position-relative form-group">
                    <label for="sabor" class="">Sabor</label>
                    <input [(ngModel)]="sabor" name="sabor" id="sabor" placeholder="Sabor" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="descripcion" class="">Descripcion</label>
                    <input [(ngModel)]="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="iq" class="">IQ</label>
                    <input [(ngModel)]="iq" name="iq" id="iq" placeholder="IQ" type="number" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="imagen" class="">Imagen</label>
                    <input [(ngModel)]="imagen" name="imagen" id="imagen" placeholder="Imagen" type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarCerebro()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="modalA" #modalA tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Cerebro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alertaActualizar"></div>
                <div class="position-relative form-group">
                    <label for="sabor" class="">Sabor</label>
                    <input [(ngModel)]="saborE" name="saborE" id="saborE" type="text" class="form-control form-control-sm" >
                </div>
                <div class="position-relative form-group">
                    <label for="descripcion" class="">Descripcion</label>
                    <input [(ngModel)]="descripcionE" name="descripcionE" id="descripcionE" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="iq" class="">IQ</label>
                    <input [(ngModel)]="iqE" name="iqE" id="iqE" type="number" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="imagen" class="">Imagen</label>
                    <input [(ngModel)]="imagenE" name="imagenE" id="imagenE" type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="actualizarCerebro()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>