
<div class="card-body">
    <h5 class="card-title">Zombies</h5>
    <table class="mb-0 table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let zombie of zombies |async; let i=index">
                <td>{{i+1}}</td>
                <td>{{zombie.name}}</td>
                <td>{{zombie.email}}</td>
                <td>{{zombie.type}}</td>
                <td><button type="button " class="btn btn-danger" (click)="eliminarZombie(zombie._id)"><i class="fas fa-times"></i> Borrar</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalActualizarZombie" (click)="actSeleccion(zombie._id)" style="margin:7px;"><i class="fas fa-edit"></i> Actualizar</button></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal" style="float: left;">
    Agregar Zombie
    </button>

</div>