<div class="modal fade show" id="modalZG" #modalZG tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Zombie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alertaGuardar"></div>
                <div class="position-relative form-group">
                    <label for="nombre" class="">Nombre</label>
                    <input [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="Nombre" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="email" class="">Email</label>
                    <input [(ngModel)]="email" name="email" id="email" placeholder="Email" type="email" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="tipo" class="">Tipo</label>
                    <select [(ngModel)]="tipo" name="select" id="tipo" class="form-control form-control-sm">
                        <option>Alumno Zombie</option>
                        <option>Maestro Zombie</option>
                    </select>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarZombie()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="modalZA" #modalZA tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Zombie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alertaActualizar"></div>
                <div class="position-relative form-group">
                    <label for="nombre" class="">Nombre</label>
                    <input [(ngModel)]="nombreE" name="nombre" id="nombreE" placeholder="Nombre" type="text" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="email" class="">Email</label>
                    <input [(ngModel)]="emailE" name="email" id="emailE" placeholder="Email" type="email" class="form-control form-control-sm">
                </div>
                <div class="position-relative form-group">
                    <label for="tipo" class="">Tipo</label>
                    <select [(ngModel)]="tipoE" name="select" id="tipoE" class="form-control form-control-sm">
                        <option>Alumno Zombie</option>
                        <option>Maestro Zombie</option>
                    </select>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="actualizarZombie()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>