<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/all.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Escuela zombies</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <img src="/images/logo.jpg" alt="logo" style="width: 35px; height: 36px; margin-right: 10px;">
            <a class="navbar-brand" href="/">Escuela de Zombies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Zombies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cerebros">  Cerebros</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>