<div class="card mb-3 w-50 offset-3">
    <img src="https://2.bp.blogspot.com/-7XBSMkyAyt4/Wc4HoYQXwPI/AAAAAAAABB4/agQ9rNmWfOMX34SfuDIZqtARhiI_JaHFgCLcBGAs/s1600/ZOMBIE%2BINVASION%2BSECTION%2B2.jpg" style="height: 250px;" class="card-img-top" alt="...">
    <div class="card-header text-white bg-info">Inicias Sesión</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" id="Nombre" placeholder="Ingresar nombre">        
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" id="Password" placeholder="Ingresar contraseña">
            </div>
            <button type="button" class="btn btn-primary" (click)="obtnerUsuario()">Agregar Usuario</button>
        </form>
    </div>
</div>
