<h1 align=center style="margin: 30px;">Welcome to Zombie School</h1>


<div class="container align-items-center" style="margin-top: 1%;width: 700px;">
    <h3 align=center>Login</h3>
    <div *ngIf="error" class="mb-3 card text-white card-body bg-danger">
        <h5 class="text-white card-title">Error</h5>{{error.error.message}}</div>
    <div class="row justify-content-between">
        <div class=" text-center col-12 ">

            <form [formGroup]="loginForm">
                <label for="inputEmail " class="sr-only ">Email address</label>
                <input formControlName="email" type="email " id="inputEmail " class="form-control " placeholder="Email address " required=" " autofocus=" ">
                <label for="inputPassword " class="sr-only ">Password</label>
                <input formControlName="password" type="password " id="inputPassword " class="form-control " placeholder="Password " required=" ">
                <button class="btn btn-lg btn-primary btn-block " type="submit " (click)="login()"> Log in</button>
            </form>
        </div>
    </div>
    <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#modalRegistro" style="margin:7px;">Register</button>

</div>